# Code ownership

CODEOWNERS @CodeownersInc/Sylvain

/src/ @CodeownersInc/All
/docs/ @CodeownersInc/Duo

**/NewFile.js @sylvain-galineau
**/Special.md @sylvain-galineau
**/TypeDefinition.ts @sylvain-galineau

